$spacing-xs: 8px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-l: 32px;
$spacing-xl: 40px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-display-xs: 24px;
$font-size-display-s: 30px;
$font-size-display-m: 36px;
$font-size-display-l: 48px;
$font-size-display-xl: 60px;
$font-size-title: 72px;

$light-lime-green: #f1f8e9;
$darker-lime-green: #adb6a4;
